<!DOCTYPE html>
<html lang="end">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-sclae=1.0">
    <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
    <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
      <script>
         $(document).ready(function() {
            $('select').material_select();
         });
      </script>
    <title>League Stats</title>
</head>
<body>
    <header class="center-align">
        <nav>
    <div class="nav-wrapper">
      <div class="left-align">
        <a href="/" class="brand-logo"><i class="material-icons left"><img height="63" src="https://vignette.wikia.nocookie.net/leagueoflegends/images/1/12/League_of_Legends_Icon.png/revision/latest?cb=20150402234343"/></i>RM.18</a>
      </div>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">search</i></a></li>
        <li><a href="/"><i class="material-icons">view_module</i></a></li>
        <li><a href="/"><i class="material-icons">refresh</i></a></li>
        <li><a href="/"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
        </nav>
        <h1>League of Legends Stats Viewer</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
        <br>
        <a style="display:block" class="right-align" href="/admin">Admin Login</a>
    </div>
</body>
</html>